body
{
    padding: 0%;
    margin: 0%;
}
img
{
    position: relative;
    width: 266px;
    height: 116.51px;
    padding-left: 10px;
}
.container
{
    height: 100vh;
    background: #F6DEFF;
    position: relative;
}
.image  img
{
    
    width: 275px !important;
    height: 280px !important;
    
}
.image1
{
    display: flex;
    justify-content: space-evenly;
}
.image2
{
    display: flex;
    justify-content: space-evenly;
}
.menu img
{ 
    width: 217px !important;
    height: 83px !important;
    

}
.menu
{
    
    position: absolute;
    padding-left:1000px;
    padding-top: 5px;

}